@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Global Colors */
  --gray-color:#F4F4F3;
  --black-color:#2D2D2D;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Global Colors */
    --gray-color:#F4F4F3;
    --black-color:#2D2D2D;
  }
}

